exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "getGraphicsEvent", "graphics.off", "dev.off", "devAskNewPage")
importFrom("graphics", "plot","lines","hist","legend","par","axis")
importFrom("stats","loess","predict","runif","uniroot","filter","approx","lm", "cor", "ecdf","smooth.spline")
importFrom("pso", "psoptim")
importFrom("Hmisc", "approxExtrap")
importFrom("GGally", "ggnet2")
importFrom("ggplot2", "guides")
importFrom("network", "network","set.vertex.attribute")
S3method(plot,sim)
S3method(summary,sim)
S3method(sim,base)
S3method(sim,default)
S3method(createBasin,base)
S3method(createBasin,default)
S3method(createDiversion,base)
S3method(createDiversion,default)
S3method(createJunction,base)
S3method(createJunction,default)
S3method(createReach,base)
S3method(createReach,default)
S3method(createReservoir,base)
S3method(createReservoir,default)
S3method(createSubbasin,base)
S3method(createSubbasin,default)
S3method(reachRouting,base)
S3method(reachRouting,default)
S3method(reservoirRouting,base)
S3method(reservoirRouting,default)
S3method(transform,base)
S3method(transform,default)
S3method(loss,base)
S3method(loss,default)
S3method(baseFlowSeparation,base)
S3method(baseFlowSeparation,default)
S3method(abstraction,base)
S3method(abstraction,default)
S3method(plot,createBasin)