exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "getGraphicsEvent", "graphics.off")
importFrom("graphics", "plot","lines","hist","legend","par")
importFrom("stats","loess","predict","runif","uniroot","filter","approx")
importFrom("pso", "psoptim")
importFrom("Hmisc", "approxExtrap")
S3method(plot,sim)
S3method(summary,sim)
S3method(sim,base)
S3method(sim,default)
S3method(createBasin,base)
S3method(createBasin,default)
S3method(createDiversion,base)
S3method(createDiversion,default)
S3method(createJunction,base)
S3method(createJunction,default)
S3method(createReach,base)
S3method(createReach,default)
S3method(createReservoir,base)
S3method(createReservoir,default)
S3method(createSubbasin,base)
S3method(createSubbasin,default)
